<!DOCTYPE html>
<html>
  <head>
    <!--Import Google Icon Font-->
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <!-- Compiled and minified CSS -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body class="container">
    <div class="row">
      <div class="col s2 z-depth-1">
        <div class="input-field">
          <input value="HelloWorld" id="handle-input" type="text" />
          <label for="handle">Handle: </label>
        </div>
      </div>
      <div id="chat-box" class="col s9 z-depth-1"></div>
      <div class="col s9 offset-s2">
        <form id="input-form" >
          <div class="row ">
            <div class="col s8">
              <div class="input-field">
                <input
                  value="Tell other people Hello World"
                  id="message-input"
                  type="text"
                />
                <label for="message-input">Input: </label>
              </div>
            </div>
            <div class="col s1 input-field">
              <button type="submit"
                class="btn waves-effect waves-light green"
              >
                <i class="material-icons">add</i>
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/javascripts/app.js"></script>
  </body>
</html>
